snippet main
int main(const int argc, const char** argv) {
	$0
}
endsnippet

snippet name
namespace $1 {
	$0
} /* end namespace $1 */
endsnippet

snippet inc
#include <$1.hpp>$0
endsnippet

snippet incl
#include <$1>$0
endsnippet

snippet class
class $1 {
	$0
};
endsnippet
