snippet legal "Legal disclaimer"
/*
Copyright (C) EvoCount GmbH - All Rights Reserved
Unauthorized copying of this file, via any medium is strictly prohibited
Proprietary and confidential

Arwed Mett <arwed.mett@evocount.de> 2020
*/
endsnippet

snippet sector "Comment sector"
/************************************************************/
/* ${1: Sector name}`!p snip.rv = (60 - 3 - len(t[1])) * " "`*/
/************************************************************/$0
endsnippet
