snippet sector "Comment sector"
#############################################################
# ${1: Sector name}`!p snip.rv = (60 - 3 - len(t[1])) * " "`#
#############################################################$0
endsnippet
