global !p
from datetime import datetime
endglobal

snippet ethermeal "Ethermeal legal disclaimer"
/*
Copyright (C) Ethermeal UG - All Rights Reserved
Unauthorized copying of this file, via any medium is strictly prohibited
Proprietary and confidential

Arwed Mett <arwed.mett@ethermeal.de> `!p snip.rv = datetime.now().year`
*/
endsnippet
